@font-face {
  font-family: popinsa bold;
  src: url("../fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: popinsa btn;
  src: url(../fonts/Poppins-Medium.ttf);
}
.ultra {
  display: flex;
  justify-content: center;
}
.sider {
  width: 50vw;
  background-image: url("./media/heroBack.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero-color-layer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  /* background-color:rgba(0, 0, 0, 0.466); */
}

.hero-wrap {
  padding-left: 120px;
  width: 100vw;
  max-width: 1440px;

  height: 600px;
  min-height: 500px;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1771%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 100%2c 204%2c 1)'%3e%3c/rect%3e%3cpath d='M818.699195117857 300.08835421487663L815.9205294094196 220.51777919950945 697.9539997405875 264.4710652698492z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M412.7046022666242 33.27550760322886L308.3727383352018-86.74457252996059 292.6845221334347 137.60737153465124z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1436.663%2c561.394C1474.785%2c561.388%2c1511.984%2c547.077%2c1532.833%2c515.161C1555.814%2c479.982%2c1564.264%2c434.487%2c1543.387%2c398.02C1522.404%2c361.367%2c1478.839%2c344.956%2c1436.663%2c347.177C1398.174%2c349.204%2c1366.939%2c374.878%2c1347.784%2c408.323C1328.764%2c441.533%2c1321.222%2c482.097%2c1340.439%2c515.193C1359.588%2c548.172%2c1398.528%2c561.4%2c1436.663%2c561.394' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M962.152%2c710.63C1006.863%2c713.423%2c1056.139%2c705.274%2c1079.792%2c667.229C1104.43%2c627.601%2c1093.069%2c577.604%2c1070.116%2c536.977C1046.712%2c495.552%2c1009.707%2c460.527%2c962.152%2c459.007C912.233%2c457.411%2c863.347%2c484.742%2c841.532%2c529.67C821.717%2c570.478%2c842.327%2c616.218%2c867.488%2c653.965C889.35%2c686.764%2c922.812%2c708.172%2c962.152%2c710.63' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M436.509%2c455.016C483.83%2c452.177%2c521.61%2c421.951%2c547.434%2c382.196C576.529%2c337.406%2c605.215%2c282.421%2c578.768%2c236.019C552.182%2c189.373%2c490.184%2c186.274%2c436.509%2c187.574C385.821%2c188.802%2c333.41%2c200.168%2c305.707%2c242.634C275.543%2c288.872%2c270.902%2c350.044%2c299.853%2c397.051C327.664%2c442.207%2c383.571%2c458.192%2c436.509%2c455.016' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1771'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
  background-color: #004edf;
  /* background-image: url("./media/heroBack.jpg"); */

  /* background-image: url("https://img.freepik.com/free-photo/delivery-african-american-man-yellow-polo-shirt-cap-holding-cardboard-boxes-with-friendly-smile-standing-isolated-blue_141793-18676.jpg?w=740&t=st=1672414980~exp=1672415580~hmac=147c4260b546bcbb4760e3b0fc5148fe85c5e3a249d87bd39a0d320f6c1ab99b"); */
  /* background-image: url("./media/african.png"); */
  background-image: url("./media/final-african.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fin-main {
  width: 600px;
  min-width: 300px;
  min-height: 100px;
  border-left:2px solid white; 
  /* min-width: 700px; */
}
.hero-main {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 0px ;
  max-width: 1024px;
  height: 100%;
}
.hero-h1 {
  font-family: popinsa bold;
  color: white;
  font-weight: 200;
  font-size: 55px;
  padding: 10px;
  margin: 10px;
}
.hero-p {
  color: white; 

  padding: 10px;
  margin: 10px;
  text-align: left;
  /* width: 40vw; */
  font-size: 19px;
}
.heroHr {
  width: 100%;
  border: 1px solid white;
  height: 2px;
  margin: 10px;
  background-color: white;
  padding: 0.5px;
  width: 60%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
.hero-buttons-wrap {
  width: 100%;
  /* border: 2px solid red; */
  padding: 10px;
}
.cr-btn {
  font-size: 13px;
  background-color: #0066db;
  color: white;
  font-weight: 500;
  border: 3px solid #0066db;
  transition: 0.6s;
  letter-spacing: -0.2px;
  font-family: popinsa btn;
  padding: 7px 15px 7px 15px;
  margin: 10px;
}
.cr-btn:hover {
  background-color: #004edf;
  padding: 7px 30px 7px 30px;
  border-color: #004edf;
}
.tr-btn {
  font-size: 13px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  border: 3px solid white;
  letter-spacing: -0.2px;
  transition: 0.3s;
  padding: 7px 15px 7px 15px;
  font-family: popinsa btn;

  margin: 10px;
}
.tr-btn:hover {
  background-color: rgba(255, 255, 255, 0.459);
  color: white;
}

@media (min-width: 500px) and (max-width: 1024px) {
  .hero-color-layer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .hero-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1771%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 100%2c 204%2c 1)'%3e%3c/rect%3e%3cpath d='M818.699195117857 300.08835421487663L815.9205294094196 220.51777919950945 697.9539997405875 264.4710652698492z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M412.7046022666242 33.27550760322886L308.3727383352018-86.74457252996059 292.6845221334347 137.60737153465124z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1436.663%2c561.394C1474.785%2c561.388%2c1511.984%2c547.077%2c1532.833%2c515.161C1555.814%2c479.982%2c1564.264%2c434.487%2c1543.387%2c398.02C1522.404%2c361.367%2c1478.839%2c344.956%2c1436.663%2c347.177C1398.174%2c349.204%2c1366.939%2c374.878%2c1347.784%2c408.323C1328.764%2c441.533%2c1321.222%2c482.097%2c1340.439%2c515.193C1359.588%2c548.172%2c1398.528%2c561.4%2c1436.663%2c561.394' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M962.152%2c710.63C1006.863%2c713.423%2c1056.139%2c705.274%2c1079.792%2c667.229C1104.43%2c627.601%2c1093.069%2c577.604%2c1070.116%2c536.977C1046.712%2c495.552%2c1009.707%2c460.527%2c962.152%2c459.007C912.233%2c457.411%2c863.347%2c484.742%2c841.532%2c529.67C821.717%2c570.478%2c842.327%2c616.218%2c867.488%2c653.965C889.35%2c686.764%2c922.812%2c708.172%2c962.152%2c710.63' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M436.509%2c455.016C483.83%2c452.177%2c521.61%2c421.951%2c547.434%2c382.196C576.529%2c337.406%2c605.215%2c282.421%2c578.768%2c236.019C552.182%2c189.373%2c490.184%2c186.274%2c436.509%2c187.574C385.821%2c188.802%2c333.41%2c200.168%2c305.707%2c242.634C275.543%2c288.872%2c270.902%2c350.044%2c299.853%2c397.051C327.664%2c442.207%2c383.571%2c458.192%2c436.509%2c455.016' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1771'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("./media/heroBack.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-main {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px auto;
    /* text-align: left; */
    width: 85vw;
    height: 100%;
    border: 2px solid red;
  }
  .hero-h1 {
    color: white;
    font-weight: 900;
    width: 60vw;
    margin-bottom: 2px;
    font-size: 50px;
  }
  .hero-p {
    color: white;
    font-size: 18px;
    margin-top: 2px;
    width: 60vw;
  }
  .heroHr {
    border: 1px solid white;
    height: 2px;
    margin: 10px;
    background-color: white;
    padding: 0.5px;
    width: 85%;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
  }
  .hero-order-btn {
    background-color: rgb(0, 30, 201);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 30px 20px 30px;
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
}

@media (min-width: 10px) and (max-width: 500px) {
  .hero-color-layer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.fin-main {
  height: 400px;
  width: 100%;
 padding: 3px; 
  border: none;
}
  .hero-wrap {
    /* margin-top: 20px; */
    padding-left: 0px;
    width: 100vw;
    height: 20px;
    min-height:520px ;
    display: flex;
    justify-content: left;
    margin-top: -40px;
    /* align-items: center; */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1771%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 100%2c 204%2c 1)'%3e%3c/rect%3e%3cpath d='M818.699195117857 300.08835421487663L815.9205294094196 220.51777919950945 697.9539997405875 264.4710652698492z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M412.7046022666242 33.27550760322886L308.3727383352018-86.74457252996059 292.6845221334347 137.60737153465124z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1436.663%2c561.394C1474.785%2c561.388%2c1511.984%2c547.077%2c1532.833%2c515.161C1555.814%2c479.982%2c1564.264%2c434.487%2c1543.387%2c398.02C1522.404%2c361.367%2c1478.839%2c344.956%2c1436.663%2c347.177C1398.174%2c349.204%2c1366.939%2c374.878%2c1347.784%2c408.323C1328.764%2c441.533%2c1321.222%2c482.097%2c1340.439%2c515.193C1359.588%2c548.172%2c1398.528%2c561.4%2c1436.663%2c561.394' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M962.152%2c710.63C1006.863%2c713.423%2c1056.139%2c705.274%2c1079.792%2c667.229C1104.43%2c627.601%2c1093.069%2c577.604%2c1070.116%2c536.977C1046.712%2c495.552%2c1009.707%2c460.527%2c962.152%2c459.007C912.233%2c457.411%2c863.347%2c484.742%2c841.532%2c529.67C821.717%2c570.478%2c842.327%2c616.218%2c867.488%2c653.965C889.35%2c686.764%2c922.812%2c708.172%2c962.152%2c710.63' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M436.509%2c455.016C483.83%2c452.177%2c521.61%2c421.951%2c547.434%2c382.196C576.529%2c337.406%2c605.215%2c282.421%2c578.768%2c236.019C552.182%2c189.373%2c490.184%2c186.274%2c436.509%2c187.574C385.821%2c188.802%2c333.41%2c200.168%2c305.707%2c242.634C275.543%2c288.872%2c270.902%2c350.044%2c299.853%2c397.051C327.664%2c442.207%2c383.571%2c458.192%2c436.509%2c455.016' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1771'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("./media/mob.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-main {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px auto;
    /* text-align: left; */
    width: 100%;
    height: 10%;
    /* border: 2px solid red; */
  }
  .hero-buttons-wrap {
  margin-top: 80px;
  /* margin-bottom: -70px; */
  }

  .hero-h1 {
    color: white;
    font-weight: 900;
    font-size: 41px;
    width: 320px;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .hero-p {
    color: white;
    font-size: 13px;
    margin-top: 2px;
    width: 80vw;
    /* display: none; */
  }
  .heroHr {
    border: 1px solid white;
    height: 2px;
    margin: 10px;
    background-color: white;
    padding: 0.5px;
    width: 70%;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
  }
  .hero-buttons-wrap {
    width: 100%;
    /* border: 2px solid red; */
    padding: 10px;
  }
  
  .hero-order-btn {
    background-color: rgb(0, 30, 201);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 30px 20px 30px;
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .tr-btn {
    font-size: 15px;
    background-color: transparent;
    color: white;
    width: 96%;
    font-weight: 300;
    border: 2px solid white;
    letter-spacing: -0.2px;
    transition: 0.3s;
    padding: 8px 15px 8px 15px;
    margin: 5px;
  }
  
  .cr-btn {
    font-size: 15px;
    background-color: #13aff0;
    color: white;
    font-weight: 300;
    border: 2px solid #13aff0;
    letter-spacing: -0.2px;
    padding: 8px 15px 8px 15px;
    margin: 5px;
    width: 96%;
  } 

  /* .hero-color-layer {
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
    height: 100vh;

  }

  .hero-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1771%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 100%2c 204%2c 1)'%3e%3c/rect%3e%3cpath d='M818.699195117857 300.08835421487663L815.9205294094196 220.51777919950945 697.9539997405875 264.4710652698492z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M412.7046022666242 33.27550760322886L308.3727383352018-86.74457252996059 292.6845221334347 137.60737153465124z' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1436.663%2c561.394C1474.785%2c561.388%2c1511.984%2c547.077%2c1532.833%2c515.161C1555.814%2c479.982%2c1564.264%2c434.487%2c1543.387%2c398.02C1522.404%2c361.367%2c1478.839%2c344.956%2c1436.663%2c347.177C1398.174%2c349.204%2c1366.939%2c374.878%2c1347.784%2c408.323C1328.764%2c441.533%2c1321.222%2c482.097%2c1340.439%2c515.193C1359.588%2c548.172%2c1398.528%2c561.4%2c1436.663%2c561.394' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M962.152%2c710.63C1006.863%2c713.423%2c1056.139%2c705.274%2c1079.792%2c667.229C1104.43%2c627.601%2c1093.069%2c577.604%2c1070.116%2c536.977C1046.712%2c495.552%2c1009.707%2c460.527%2c962.152%2c459.007C912.233%2c457.411%2c863.347%2c484.742%2c841.532%2c529.67C821.717%2c570.478%2c842.327%2c616.218%2c867.488%2c653.965C889.35%2c686.764%2c922.812%2c708.172%2c962.152%2c710.63' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M436.509%2c455.016C483.83%2c452.177%2c521.61%2c421.951%2c547.434%2c382.196C576.529%2c337.406%2c605.215%2c282.421%2c578.768%2c236.019C552.182%2c189.373%2c490.184%2c186.274%2c436.509%2c187.574C385.821%2c188.802%2c333.41%2c200.168%2c305.707%2c242.634C275.543%2c288.872%2c270.902%2c350.044%2c299.853%2c397.051C327.664%2c442.207%2c383.571%2c458.192%2c436.509%2c455.016' fill='rgba(0%2c 125%2c 255%2c 1)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1771'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-image: url("./media/heroBack.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    text-align: center;
    width: 300px;
    height: 100%;
    padding: 10px;
  }
  .hero-h1 {
    color: white;
    font-weight: 900;
    font-size: 22px;
  }
  .hero-p {
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 100%;
  }

  
  .cr-btn {
    font-size: 10px;
    background-color: #13aff0;
    color: white;
    font-weight: 300;
    border: 2px solid #13aff0;
    letter-spacing: -0.2px;
    padding: 7px 15px 7px 15px;
    margin: 5px;
  } */
}
