.glimps-wrap {
  /* padding: 50px; */
  background: rgb(0, 104, 148);
  background: linear-gradient(
    90deg,
    rgb(0, 154, 219) 0%,
    rgba(0, 165, 236, 1) 100%
  );
  background-repeat: no-repeat;
  padding-bottom: 10px;
  background-size: cover;
}
.glimps {
  color: white;
  margin-bottom: 70px;
  /* display: flex;
  justify-content: space-evenly; */
}
.glimp-one {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  align-items: center;
  height: auto;
  flex-wrap: wrap-reverse;
}
/* ///////////////////////////////////// */
.glimp-left {
  width: 2500px;
  font-size: 13px;
  /* border: 2px solid red; */
  align-items: center;
}

.glimp-right {
  /* border: 2px solid red; */
  width: fit-content;
}
.glimps-img {
  border-radius: 5px;
  width: 300px;
  padding-top: 60px;
}
.other-glimps {
    background-color: white;
    
    color: black;
    padding: 20px;
    border-radius: 20px;   
}

/* Special  */
.special-glimp-box {
  width: 50%;
}
.special-glimp-h {
  font-size: 45px;
  font-weight: 700;
}



/* /////////// */
.others-wrap {
  background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}
.heading-span {
    font-size: 25px;
    margin-bottom:19px ;
}
.other {
    background-color:#f0f0f0;
    /* border-radius: 5px; */
    /* width: 80%; */
    padding: 20px;
    color: #333333;
    /* align-items: baseline; */
}
.right {
width: 600px;
  /* /* height: 100%; */
    /* background-color: white; */
    /* height: 200px; */
    display: flex;
    /* justify-content: end; */
    /* align-items: flex-end;  */
}
.underMaterial {
    padding: 35px 60px 34px 60px;
}
/* .other-img {
    
} */
.other-p {
    width: 100%;
    font-size: 18px;
    margin-bottom: 25px;
}
.link-a {
    padding: 11px 22px;
    text-decoration: none;
    color: #007ab7 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    word-spacing: 1.3px;
    border: 2px solid #007ab7 ;
    border-radius: 40px;
    transition: 0.2s;
    margin:0px auto
}
.link-a:hover {
    text-decoration: none;
    color: white;

    border: none;
    letter-spacing: 0.7px;

    background-color: #006894;
}
.box {
    display: flex;
    padding: 10px;    
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.secnd-glimps {
  flex-wrap: wrap;
}
.fourt-glimps {
  flex-wrap: wrap;
}
.fifth-glimps {
  flex-wrap: wrap-reverse;
}
.sixth-glimps {
  flex-wrap: wrap;
}
/* Tablet */
@media (min-width:425px) and ((max-width:768px)) {
  .other {
    width: 95vw;
  }
  .special-glimp-box {
    padding-top: 50px;
    width: 90%;
  }
  .glimp-one {
  padding-top:0px ;
  }
  .glimp-left {
    width: 350px;
    /* border: 3px solid red; */
  }
  .glimps-img {
    width: 250px;
  }
  .glimp-one h2 {
    font-size: 36px;
  }
  .right {
       width: 50%;
  }
  .left{
    width: 50%;
  }
  .other-img {
    width: 100%;
   }
   
   .underMaterial {
       padding: 0px 20px 10px 20px;
       width: 100%;
   }
   .underMaterial p {
    font-size: 14px;
   }
}
@media (min-width:425px) and (max-width:615px){
 
  
  .right {
    /* width: 700px;
    */
    padding-top:40px;
       width: 100%;
  }
  .left{
    width: 100%;
    /* width: 100px; */
    /* border: 4px solid red; */
  }
  .other-img {
    width: 400px;
   }
   
   .underMaterial {
       padding: 0px 0px 0px 0px;
       width: 100%;
   }
   .underMaterial p {
    font-size: 14px;
   }
}

/* Small */
@media (min-width:10px) and ((max-width:425px)) {
  
  .special-glimp-box{

    padding-top: 40px;
    width: 90%;
  }
  .special-glimp-h{
  font-size: 30px;
  }
  
  .other-img {
    width: 250px;
   }
   .right {
    width: 100%;
   }
   .underMaterial {
    padding: 10px;
   }
   .underMaterial p {
    font-size: 14px;
   }
}