.comp-how-wrapper {
  width: 100%;
  padding: 20px;
  /* border: 2px solid red; */
}

.comp-howRgs {
  width: 100%;

  display: flex;
  justify-content: center;
}

.comp-how-to-hero {
  display: flex;
  /* border: 1px solid red; */
  
  justify-content: space-evenly;
  align-items: center;
}
.comp-how-h1 {
  /* padding: 10px;
  color: rgba(0, 0, 0, 0.616); */
  color: rgba(0, 0, 0, 0.700);
  font-size: 60px;
  font-weight: 100;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
.comp-reg-steps {
  width: 45%;
}
.patla-blue{
  /* font-weight: 500; */
  /* text-decoration: underline; */
}

.steps-img {
  width: 280px;
  padding: 10px;
  text-align: center;
  align-items: center;
  min-width: 110%;
  max-width: 100%;
}
@media (min-width: 50px) and (max-width: 425px) {
  .comp-how-to-hero {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .comp-reg-steps {
    width: 100%;
  }
  .comp-how-h1 {
    padding: 10px;
    padding-bottom: 30px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.616);
  } 

  .steps-img {
    width: 100px;
    text-align: center;
    align-items: center;
    min-width: 120%;
    max-width: 100%;
  }
}
