
body {
   background-color: red;
background-color: #f0f0f0 ;

  /* height: 600px;
  margin: auto;
  display: flex;
  color: #444;  */
}
.prod-wrap {
  margin-top: 100px;
}
.container-prod {
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h5 {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to bottom, #6bffc8 0%, #42c8cb 100%); */
background-color: #f0f0f0 ;
  border-radius: 20px 20px 0 0;
  padding: 55px 0;
  width: 100%;
  margin: auto;
}
.product-pic {
  max-width: 180px;
  position: relative;
  left: 0;
  margin: 40px 0;
  filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
}
.product-details {
  padding: 40px  40px 0px 40px ;
  background-color: white;
background-color: #f0f0f0 ;

  border-radius: 0 0 20px 20px;
}
.product-details .title {
  text-transform: uppercase;
  margin: 0;
}
.product-details .colorCat {
  text-transform: uppercase;
  font-style: italic;
  color: #bbb;
  font-weight: 700;
  font-size: 14px;
}
.product-details .price {
  font-weight: 700;
  margin-top: 5px;
  font-size: 18px;
}
.product-details .price .current {
  color: #fe6168;
  margin-left: 6px;
}
.product-details .before {
  text-decoration: line-through;
}
.product-details header {
  margin-bottom: 50px;
  position: relative;
}
.product-details article > h5 {
  margin: 0;
}
.product-details article > p {
  color: #bbb;
  margin: 0.5em 0;
  font-size: 14px;
  line-height: 1.6;
}
.product-details .controls {
  margin: 3em 0;
}
.product-details .controls > div {
  flex: 1;
}
.product-details .controls .option {
  margin-top: 12px;
  display: inline-block;
  position: relative;
}
.product-details .controls .option:hover {
  color: #444;
}
.product-details .controls .option::before {
  content: '';
  position: absolute;
  border-width: 2px 2px 0 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  height: 5px;
  width: 5px;
  right: -18px;
  margin: auto;
  transform: rotate(135deg);
}
.product-details .controls > div + div {
  margin-top: 20px;
  flex: none;
}
.product-details .controls ul {
  display: flex;
  margin: 15px 5px;
}
.product-details .color li + li {
  margin-left: 15px;
}
.product-details .colors {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
}
.color {
  display: none;
}
.product-details .color-bdot1 {
  background-color: #59e8c8;
}
.product-details .color-bdot1:hover, .product-details .color-bdot1.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #59e8c8;
}
.product-details .color-bdot2 {
  background-color: #ffee71;
}
.product-details .color-bdot2:hover, .product-details .color-bdot2.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #ffee71;
}
.product-details .color-bdot3 {
  background-color: #6654af;
}
.product-details .color-bdot3:hover, .product-details .color-bdot3.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #6654af;
}
.product-details .color-bdot4 {
  background-color: #343434;
}
.product-details .color-bdot4:hover, .product-details .color-bdot4.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #343434;
}
.product-details .color-bdot5 {
  background-color: #dfdfdf;
}
.product-details .color-bdot5:hover, .product-details .color-bdot5.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #dfdfdf;
}
.product-details .rate {
  position: static;
  margin-top: 10px;
}
.product-details .rate a {
  font-size: 18px;
  color: #bbb;
}
.product-details .rate a.active, .product-details .rate a:hover {
  color: #fe6067;
}
.dots {
  display: flex;
  margin-top: 40px;
}
.dots > a {
  background-color: #349a98;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
}
.dots > a:hover, .dots > a.active {
  background-color: white;
}
.dots i {
  display: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer > button {
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ff886b 0%, #ff4164 100%);
  box-shadow: 0 10px 30px 0 rgba(255, 136, 107, 0.7);
  transition: 200ms;
}
.footer > button:hover {
  background: linear-gradient(to bottom, #ff4164 0%, #ff886b 100%);
}
.footer > button > img {
  width: 31px;
}
.footer > button > span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  color: white;
}
.footer > a img {
  width: 24px;
  opacity: 0.8;
}
.footer > a:hover img {
  opacity: 1;
}
@media (min-width: 37.5em) {
  .product-details .rate {
    position: absolute;
    top: 12px;
    right: 10px;
    margin-top: 0;
 }
  .product-details .controls > div.qty {
    width: 60px;
 }
  .product-details .controls > div + div {
    border-left: 2px solid rgba(187, 187, 187, .5);
    padding-left: 25px;
    padding-right: 25px;
    width: 100px;
    margin-top: 0;
 }
  .product-details .controls {
    display: flex;
 }
}
@media (min-width: 56.25em) {
  .container-prod {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: auto;
 }
  .product-image {
    border-radius: 20px 0 0 20px;
    max-width: 330px;
 }
  .product-pic {
    left: -40px;
    max-width: 330px;
 }
  .product-details {
    width: 100%;
    border-radius: 0 20px 20px 0;
 }
}












/* 



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #fff;
  	background-color: #1f2029;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: none;
}
p{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #fff;
  margin: 0;
}
.section-fluid-main{
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}
.section{
  position: relative;
  max-width: calc(100% - 40px);
  width: 860px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 100px 0;
}
.section-fluid{
  position: relative;
  width: 100%;
  display: block;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  visibility: hidden;
}
.color-btn:checked + label,
.color-btn:not(:checked) + label{
  position: relative;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 40px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  color: #ffeba7;
  margin-right: 10px;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  z-index: 10;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
}
.color-btn:checked + label{
  border-color: #434343;
  transform: scale(1.1);
}
label.first-color{
  margin-left: 500px;
  background-image: url('https://assets.codepen.io/1462889/mat1.jpg');
}
label.color-2{
  background-image: url('https://assets.codepen.io/1462889/mat2.jpg');
}
label.color-3{
  background-image: url('https://assets.codepen.io/1462889/mat3.jpg');
}
label.color-4{
  background-image: url('https://assets.codepen.io/1462889/mat4.jpg');
}
label.color-5{
  background-image: url('https://assets.codepen.io/1462889/mat5.jpg');
}
label.color-6{
  background-image: url('https://assets.codepen.io/1462889/mat6.jpg');
}

.img-wrap{
  position: absolute;
  top: 100px;
  left: 0;
  width: 500px;
  height: 410px;
  display: inline-block;
  z-index: 9;
  transition: all 550ms linear;
  transition-delay: 100ms;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('https://assets.codepen.io/1462889/ch1.png');
  opacity: 0;
}
.for-color-1:checked ~ .img-wrap.chair-1{
  opacity: 1;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-2{
  background-image: url('https://assets.codepen.io/1462889/ch2.png');
}
.for-color-2:checked ~ .img-wrap.chair-2{
  opacity: 1;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-3{
  background-image: url('https://assets.codepen.io/1462889/ch3.png');
}
.for-color-3:checked ~ .img-wrap.chair-3{
  opacity: 1;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-4{
  background-image: url('https://assets.codepen.io/1462889/ch4.png');
}
.for-color-4:checked ~ .img-wrap.chair-4{
  opacity: 1;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-5{
  background-image: url('https://assets.codepen.io/1462889/ch5.png');
}
.for-color-5:checked ~ .img-wrap.chair-5{
  opacity: 1;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
.img-wrap.chair-6{
  background-image: url('https://assets.codepen.io/1462889/ch6.png');
}
.for-color-6:checked ~ .img-wrap.chair-6{
  opacity: 1;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) rotate(-1deg);
  }  
  20%, 80% {
    transform: translate3d(2px, 0, 0) rotate(2deg);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0) rotate(-3deg);
  }
  40%, 60% {
    transform: translate3d(3px, 0, 0) rotate(3deg);
  }
}


.back-color {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-image: linear-gradient(196deg,#f1a9a9,#e66767);
  transition: all 250ms linear;
  transition-delay: 300ms;
}
.back-color.chair-2 {
  background-image: linear-gradient(196deg,#4c4c4c,#262626);
  opacity: 0;
}
.for-color-2:checked ~ .back-color.chair-2{
  opacity: 1;
}
.back-color.chair-3 {
  background-image: linear-gradient(196deg,#8a9fb2,#5f7991);
  opacity: 0;
}
.for-color-3:checked ~ .back-color.chair-3{
  opacity: 1;
}
.back-color.chair-4 {
  background-image: linear-gradient(196deg,#97afc3,#6789a7);
  opacity: 0;
}
.for-color-4:checked ~ .back-color.chair-4{
  opacity: 1;
}
.back-color.chair-5 {
  background-image: linear-gradient(196deg,#afa6a0,#8c7f76);
  opacity: 0;
}
.for-color-5:checked ~ .back-color.chair-5{
  opacity: 1;
}
.back-color.chair-6 {
  background-image: linear-gradient(196deg,#aaadac,#838786);
  opacity: 0;
}
.for-color-6:checked ~ .back-color.chair-6{
  opacity: 1;
}

.info-wrap{
  position: relative;
  margin-left: 500px;
  z-index: 10;
  display: block;
  text-align: left;
}
.title-up {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}
h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 34px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}
h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
}
h4 span{
  text-decoration: line-through;
  font-size: 20px;
  opacity: 0.6;
  padding-left: 15px;
}
h5{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
}
.desc-btn:checked + label,
.desc-btn:not(:checked) + label{
  position: relative;
  transition: all 200ms linear;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #ffeba7;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-right: 25px;
  opacity: 0.5;
}
.desc-btn:checked + label{
  opacity: 1;
}
.desc-btn:not(:checked) + label:hover {
  opacity: 0.8;
}

.desc-sec {
  padding-top: 20px;
  padding-bottom: 30px;
  transition: all 250ms linear;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(20px);
}
.desc-sec.accor-2 {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 2;
}
#desc-1:checked ~ .desc-sec.accor-1 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
#desc-2:checked ~ .desc-sec.accor-2 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-inline{
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.section-inline p span{
  font-size: 30px;
  line-height: 1.1;
}

.btn{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  border-radius: 4px;
  width: 210px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
  transition: all 250ms linear;
  text-decoration: none;
  margin-top: 50px;
}
.icon {
  padding-right: 7px;
  font-size: 20px;
}
.btn:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  background-color: #944852;
  transition: background-color 250ms 300ms ease;
}
.btn:hover{
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  background-color: #000;
}
.for-color-2:checked ~ .info-wrap .btn:before{
  background-color: #1a1a1a;
}
.for-color-3:checked ~ .info-wrap .btn:before{
  background-color: #40566e;
}
.for-color-4:checked ~ .info-wrap .btn:before{
  background-color: #5e89b2;
}
.for-color-5:checked ~ .info-wrap .btn:before{
  background-color: #8c7f76;
}
.for-color-6:checked ~ .info-wrap .btn:before{
  background-color: #5d6160;
}

.clearfix {
  width: 100%;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.logo {
	position: fixed;
	top: 25px;
	left: 25px;
	display: block;
	z-index: 1000;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
	transition: filter 250ms 700ms linear;
}

@media screen and (max-width: 991px) {
  .section{
    margin: 0 auto;
    text-align: center;
    max-width: calc(100% - 40px);
    width: 370px;
  }
  label.first-color{
    margin-left: 0;
  }
  .info-wrap{
    margin-left: 0;
    width: 370px;
    margin: 0 auto;
    text-align: center;
  }
  .img-wrap{
    width: 375px;
    height: 308px;
    left: 50%;
    margin-left: -190px;
  }
  .mob-margin {
    margin-top: 320px;
  }
  .desc-btn:checked + label,
  .desc-btn:not(:checked) + label{
    margin-right: 15px;
    margin-left: 15px;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label{
    height: 40px;
    width: 40px;
    margin: 5px auto;
    text-align: center;
  }
  .section-inline{
    margin: 0 5px;
  }
}

@media screen and (max-width: 575px) {
  .section{
    width: 280px;
  }
  .info-wrap{
    width: 280px;
  }
  .color-btn:checked + label,
  .color-btn:not(:checked) + label{
    height: 30px;
    width: 30px;
  }
  .section-inline p span{
    font-size: 24px;
    line-height: 1.1;
  }
  .section-inline p{
    font-size: 14px;
  }
} */
